body {
    color: #ffffff;
    font-size: 11px;
    font-family: Arial, "Helvetica", sans-serif;
    line-height: 20px;
    background-color: #000000;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

dl {
    width: 100%;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

dt {
    float: left;
}

dd {
    text-align: right;
}

h1 {
    color: #000000;
    text-indent: -9999px;
}

.header li {
    float: left;
    padding-right: 50px;
    list-style: none;
}

.header a {
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.contentTable {
    display: block;
    width: 850px;
    margin: 0 auto;
    padding: 0 0 60px 0;
}

.gameCell {
    display: block;
    width: 100%;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom-style: solid;
    border-color: #8c8c8c;
    border-width: 1px;
    overflow: auto;
}

.title {
    position: relative;
    padding-bottom: 12px;
    font-size: 16px;
}

.infoColumn {
    float: left;
    width: 320px;
}

.imageColumn {
    float: right;
    width: 480px;
}

.imageColumn img {
    width: 480px;
    object-fit: cover;
}

.description {
    clear: both;
    width: 100%;
}

.partnerEntry {
	margin-left: 10px;
}

.header {
    display: block;
    width: 850px;
    margin: 0 auto;
    padding: 0 0 60px 0;
}
